<div id="tmp-table">
  <div class="card w-20 draggable float-left">
    <h5 class="card-header">Table: {{name}}</h5>
    <div class="card-body">
      <h5 class="card-title">Special title {{name}}</h5>
      <div class="food-list mb-3"></div>
      <div class="action">
        <a href="#" class="btn btn-sm btn-add-foods float-left btn-primary"
          >Add foods</a
        >
        <div class="float-right">
          <a href="#" data-toggle="tooltip" title="Remove this table" class="btn btn-sm btn-remove btn-dark"><span class="fas fa-trash-alt"></span></a>
          <a
            href="#"
            data-toggle="tooltip"
            title="subscribe new from Assistant"
            class="btn btn-sm btn-subscribe d-none btn-success"
            ><span class="fas fa-rss"></span
          ></a>
          <a
            href="#"
            data-toggle="tooltip"
            title="unsubscribe new from Assistant"
            class="btn btn-sm btn-unsubscribe btn-danger"
            ><span class="fas fa-eye-slash"></span
          ></a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<div id="tmp-food-list">
  {{#each orders}}
  <div class="order{{this.id}}">
    <button type="button" class="btn btn-sm btn-block {{this.food.color.css}}">
      {{this.food.name}}
    </button>
    <div class="eat-progress"></div>
  </div>
  {{/each}}
</div>

<div id="tmp-food">
  <div class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
      <span class="food-name"
        ><span class="food-status {{status_class}}"></span>
        <label>{{status}}</label></span
      >
      <a class="btn btn-sm {{class_name}}">{{name}}</a>
    </div>
  </div>
</div>

<div id="tmp-chef">
  <div class="card w-25 chef float-left">
    <div class="card-body py-2">
      <h5 class="card-title">Chef: {{name}}</h5>
      <div class="cook-progress"></div>
    </div>
    <div class="card-footer bg-info text-white">
      Some quick example text {{name}}
    </div>
  </div>
</div>

<div id="tmp-assistant">
  <div class="card assistant">
    <div class="card-body">
      <h5 class="card-title">Assistant</h5>
    </div>
    <div class="card-footer"></div>
  </div>
</div>

<div id="tmp-assistant-receive">
  <div class="info bg-light mb-3">
    Chef {{chef_id}} has completed
    <button type="button" class="btn btn-sm btn-block {{order.food.color.css}}">
      {{order.food.name}}
    </button>
    at {{date}}
  </div>
  <hr/>
</div>

<div id="tmp-progress">
  <div class="pg-test">
    <div class="input-group mb-1">
      <div class="form-control"><div class="progress"></div></div>
      <div class="input-group-append">
        <button class="btn btn-info btn-complete" type="button" title="Test button: click to complete progress">
          <span class="{{icon}}"></span>
        </button>
      </div>
    </div>
    <p class="text-muted mb-3">
      {{{html}}}
    </p>
  </div>
</div>

<div id="tmp-progress-bar">
  <div
    class="progress-bar progress-bar-striped progress-bar-animated"
    role="progressbar"
    style="width: {{percent}}%;background-color: {{color}}"
    aria-valuenow="{{percent}}"
    aria-valuemin="0"
    aria-valuemax="100"
  ></div>
</div>
